
<link rel="stylesheet" href="/css/user_profile.css">

<h1>Welcome in the user page</h1>




<% if(user.id == profile_user.id){ %>
<!-- // if user matches show form:- -->

<form action="/user/update/<%= profile_user.id %>" method="post">

    <input type="text" name="name" placeholder="your name" required value="<%= profile_user.name %>">
    <input type="email" name="email" placeholder="your email" required value="<%= profile_user.email %>">
    <input type="submit" value="Update">

</form>


<% }else{ %>

    <p>Name:- <%= profile_user.name %></p>
    <p>Email:- <%= profile_user.email %></p>

<%}%>